<div class="page-content-wrapper">
  <div class="page-content clearfix ">
    <div class="row nopadding">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="col-sm-12 nopadding">
          <div class="col-sm-10 nopadding">
            <h3 class="page-title">
              Customer Payment
              <p>
                <small>Customer payments can be tracked here.</small>
              </p>
            </h3>

          </div>
          <div class="col-sm-2 nopadding" style="margin-top:50px">
            <a [routerLink]="['/manager/customers/receivables']" class="btn btn-default pull-right">
              <i class="fa fa-angle-left" style="margin-right:5px;"></i> Back
            </a>
          </div>

        </div>
        <div class="col-sm-12 nopadding" style="margin-top:10px">
          <div class="panel panel-default">
            <div class="panel-body cursor trstyle" style="font-size:16px;background-color: #fff;padding: 0 15px;">
              <div class="col-sm-12 nopadding">
                <div class="col-sm-6 nopadding">
                  <h3>
                    Total Amount&nbsp;:&nbsp;
                    <b>49,000</b>
                  </h3>
                </div>
                <div class="col-sm-6 nopadding text-right">
                  <h3>
                    Due Amount&nbsp;:&nbsp;
                    <b>0</b>
                  </h3>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-12 nopadding">
          <h4><b>Original Payment Schedule</b></h4>
          <div class="table-responsive kv-grid-container" style="overflow: auto">
          <table class="table table-hover table-bordered" [mfData]="dataOriginal" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr class="table-headers">
                <th style="width: 10%">
                  <mfDefaultSorter by="duedate">Due Date</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="description">Description</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="dueamount">Due Amount</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.duedate}}</td>
                <td>{{item.description}}</td>
                <td>{{item.dueamount}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

        <div class="col-sm-12 nopadding margin-top-20">
          <a class="btn btn-success pull-right" id="addnewpayment" data-toggle='modal' data-target='#bookingdetails'>
            <i class="fa fa-plus"></i> &nbsp;Add New Payment
          </a>
        </div>

        <div class="col-sm-12 nopadding ">
          <h4><b>Actual Payment's</b></h4>
          <div class="table-responsive kv-grid-container" style="overflow: auto">
          <table class="table table-hover table-bordered" [mfData]="dataPaid" #mf2="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr class="table-headers">
                <th style="width: 20%">
                  <mfDefaultSorter by="bookingid">Booking Id</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="paymentdate">Payment Date</mfDefaultSorter>
                </th>
                <th style="width: 15%">
                  <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                </th>
                <th style="width: 15%">
                  <mfDefaultSorter by="paidamount">Paid Amount</mfDefaultSorter>
                </th>
                <th style="width: 15%">
                  <mfDefaultSorter by="modeofpayment">Mode of Payment</mfDefaultSorter>
                </th>
                <th style="width: 15%">
                  <mfDefaultSorter by="refnum">Reference Id</mfDefaultSorter>
                </th>
                <th style="width: 15%">
                  <mfDefaultSorter by="price">Payment Status</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf2.data">
                <td>{{item.bookingid}}</td>
                <td>{{item.paymentdate}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.paidamount}}</td>
                <td>{{item.modeofpayment}}</td>
                <td>{{item.refnum}}</td>
                <td>
                  <select>
                    <option>Pending</option>
                    <option>Failed</option>
                    <option selected>Completed</option>
                    <option>In Process</option>
                  </select>
                </td>

              </tr>
            </tbody>
          </table>
          </div>
        </div>

      </div>
      <div class="modal fade" id="bookingdetails" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                <b>Booking History - NG/RAN/2018/01/06</b>
              </h4>
            </div>
            <div class="modal-body">
              <div class="col-sm-12 margin-top-10">
                <div id="formdiv">
                  <div class="col-sm-2 nopadding"></div>
                  <div class="col-sm-8 nopadding">
                    <div class="col-sm-12 margin-top-10">
                      <div class="col-sm-4">
                        <label class="add-member-label">Reference Id&nbsp;:</label>
                      </div>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                      <div class="col-sm-4">
                        <label class="add-member-label">Amount&nbsp;:</label>
                      </div>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                      <div class="col-sm-4">
                        <label class="add-member-label">Payment Date&nbsp;:</label>
                      </div>
                      <div class="col-sm-8">
                        <input type="date" class="form-control" id="PaymentDate" />
                      </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                      <div class="col-sm-4">
                        <label class="add-member-label">Payment Mode&nbsp;:</label>
                      </div>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option value="0">Select</option>
                          <option value="1">Cash</option>
                          <option value="2">DD</option>
                          <option value="3">Cheque</option>
                          <option value="4">Others</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-12 margin-top-10">
                      <div class="col-sm-4">
                        <label>Description&nbsp;:</label>
                      </div>
                      <div class="col-sm-8">
                        <textarea class="form-control" rows="4"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-12  margin-top-10">
                      <div class="col-sm-4">
                        <label></label>
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-2 nopadding"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer mFooter padding20px">
              <div class="col-sm-12">
                <a class="btn btn-success" id="savebutton" data-toggle="modal" data-dismiss="modal">Save</a>
                <a class="btn btn-default" id="cancelbutton" data-toggle="modal" data-dismiss="modal">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>