<div class="page-content-wrapper">
	<div class="page-content clearfix ">
		<!---Page content-->
		<div class="row nopadding no-margin">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 nopadding">

				<div class="col-sm-12 nopadding">
					<div class="col-sm-10 nopadding">
						<h3 class="page-title">
							Subscribers
							<p>
								<small>Subscribers to the venue cloud application can be managed from here.</small>
							</p>
						</h3>
					</div>

				</div>
				<!---Subscriber table and list of subscripbers -->
				<div class="col-sm-12 nopadding margin-top-10">
					<div class="col-sm-12 nopadding">
						<div class="col-sm-12" style="background:#efefef;padding:5px;">

							<div class="col-sm-3 nopadding" style="margin-top:5px">
								<div class="col-sm-10 nopadding">
									<input type="text" class="col-sm-5 form-control" placeholder="search keyword" />
								</div>
								<div class="col-sm-2 nopadding">
									<button class="form-control" style="background-color:#eee">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
							<div class="col-sm-4" style="margin-top:5px">
								<div class="col-sm-4 text-right" style="margin-top:5px">
									<label class="control-label ">Status&nbsp;:</label>
								</div>
								<div class="col-sm-8 nopadding">
									<p-multiSelect [options]="statusList" [(ngModel)]="selectedStatus" defaultLabel='All' (onChange)="selectStatusChange()"></p-multiSelect>
								</div>
							</div>
							<div class="col-sm-4" style="margin-top:5px">
								<div class="col-sm-4 text-right" style="margin-top:5px">
									<label class="control-label ">Pacakge&nbsp;:</label>
								</div>
								<div class="col-sm-8 nopadding">
									<p-multiSelect [options]="packageList" [(ngModel)]="selectedPackage" defaultLabel='All' (onChange)="selectVenueChange()"></p-multiSelect>
								</div>
							</div>
							<div class="col-sm-1 nopadding" style="margin-top:5px">
								<a class="btn btn-success  pull-right" title="Click to add new subscriber details" style="margin-bottom: 10px;" data-toggle="modal"
								 data-target="#Subscriberaddmodal">
									<i class="fa fa-plus"></i>
									&nbsp;Add </a>
							</div>

						</div>
						<div class="col-sm-12 margin-top-20 nopadding">
							<table class="table table-hover table-bordered margin-top-0" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
								<thead>
									<tr class="table-headers">
										<th style="width: 14%">
											<mfDefaultSorter by="name">Property Name</mfDefaultSorter>
										</th>
										<th style="width: 14%">
											<mfDefaultSorter by="packagename">Package Name</mfDefaultSorter>
										</th>
										<th style="width: 14%">
											<mfDefaultSorter by="contact">Contact Name</mfDefaultSorter>
										</th>
										<th style="width: 16%">
											<mfDefaultSorter by="email">Email</mfDefaultSorter>
										</th>
										<th style="width: 14%">
											<mfDefaultSorter by="phone">Phone</mfDefaultSorter>
										</th>
										<th class="text-center" style="width: 14%">
											<mfDefaultSorter by="status">Status</mfDefaultSorter>
										</th>
										<th class="text-center" style="width: 14%">Shadow login</th>
										<th class="text-center" style="width: 14%">Delete</th>

									</tr>
								</thead>

								<tbody>
									<tr *ngFor="let item of mf.data">
										<td class="cursor">
											<a title="Click to view subscriber summary" [routerLink]="['/admin/subscribers/summary']">{{item.name}}</a>
										</td>
										<td class="cursor">
											<a title="Click to update subscriber" data-toggle="modal" data-target="#UpdateSubscriber" style="color:#000">{{item.packagename}}</a>
										</td>
										<td class="cursor">
											<a title="Click to update subscriber" data-toggle="modal" data-target="#UpdateSubscriber" style="color:#000">{{item.contact}}</a>
										</td>
										<td class="cursor">
											<a title="Click to update subscriber" data-toggle="modal" data-target="#UpdateSubscriber" style="color:#000">{{item.email}}</a>
										</td>
										<td class="cursor">
											<a title="Click to update subscriber" data-toggle="modal" data-target="#UpdateSubscriber" style="color:#000">{{item.phone}}</a>
										</td>
										<td class="text-center cursor">
											<a>{{item.status}}</a>
										</td>
										<td class="text-center">
											<a data-toggle="modal" data-target="#ShowOtp" title="Click to Shadow login">
												<i class="fa fa-user-secret"></i>
											</a>&nbsp;&nbsp;</td>
										<td class="text-center cursor">
											<a title="Click to delete subscriber">
												<i class="fa fa-trash red"></i>
											</a>&nbsp;</td>
									</tr>

								</tbody>
								<tfoot>
									<tr>
										<td colspan="8">
											<mfBootstrapPaginator></mfBootstrapPaginator>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal pop up for update subscribers-->
<div class="modal fade" id="UpdateSubscriber" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<b>Update Subscriber</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN PROFILE SIDEBAR -->
						<!-- END BEGIN PROFILE SIDEBAR -->
						<!-- BEGIN PROFILE CONTENT -->
						<div class="profile-content">
							<div class="portlet light">
								<!-- PERSONAL INFO TAB -->
								<form role="form" action="#">
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">First Name&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" class="form-control" value="Nagarjuna" />
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-user"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Last Name&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" class="form-control" value="Reddy" />
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-user"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Mobile Number&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" class="form-control" value="9999999999" />
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-book"></i>
													</span>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Email&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" class="form-control" value="Neeraj@gmail.com" />
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-envelope"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Property Name&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<input type="text" class="form-control" value="Nareen Gardens" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Location&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<textarea class="form-control" rows="4">Miyapur, Hyderabad,Telangana</textarea>
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>
						<!-- END PROFILE CONTENT -->
					</div>
				</div>
			</div>
			<div class="modal-footer padding20px margin-top-20">
				<button type="button" class="btn btn-success" data-dismiss="modal" onclick="toastr.success('Updated subscriber details successfully');">Update</button>
				&nbsp;
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--Modal pop up for Add subscribers-->
<div class="modal fade" id="Subscriberaddmodal" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<b>Add Subscriber</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN PROFILE SIDEBAR -->
						<!-- END BEGIN PROFILE SIDEBAR -->
						<!-- BEGIN PROFILE CONTENT -->
						<div class="profile-content">
							<div class="portlet light">
								<!-- PERSONAL INFO TAB -->
								<form role="form" action="#">
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">First Name&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" class="form-control" />
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-user"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Last Name&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" class="form-control" />
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-user"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Mobile Number&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" class="form-control" />
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-book"></i>
													</span>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Email&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="text" class="form-control" />
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-envelope"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Property Name&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<input type="text" class="form-control" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 nopadding margin-top-10">
											<div class="col-sm-4">
												<label class="control-label add-member-label">Location&nbsp;:</label>
											</div>
											<div class="col-sm-7">
												<textarea class="form-control" rows="4"></textarea>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- END PROFILE CONTENT -->
					</div>
				</div>
			</div>
			<div class="modal-footer padding20px margin-top-20">
				<button type="button" class="btn btn-success" data-dismiss="modal" onclick="toastr.success('Saved subscriber details successfully');">Save</button>
				&nbsp;
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!--Modal pop up for shadow login-->
<div class="modal fade" id="ShowOtp" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<b>Shadow Login</b>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="col-md-12">OTP has been sent to user's registered mobile number.</p>
						<div class="col-sm-12 nopadding margin-top-10">
							<div class="col-sm-3">
								<label class="control-label">Enter OTP&nbsp;:</label>
							</div>
							<div class="col-sm-7">
								<input type="text" class="form-control" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer padding20px margin-top-20">
				<button type="button" [routerLink]="['/manager/dashboard']" class="btn btn-success">Login</button>
				&nbsp;
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>