<div class="page-content-wrapper">
  <div class="page-content clearfix ">
    <!--Page content starts here-->
    <div class="row nopadding">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="col-sm-12 nopadding">
          <div class="col-sm-8 nopadding">
            <h3 class="page-title">
              Dashboard
              <p>
                <small>Here is the summary picture of the trends & activity statistics.
                </small>
              </p>
            </h3>
          </div>
          <div class="col-sm-4 nopadding" style="margin-top: 10px;">
            <div class="col-sm-4 nopadding">
              <label style="line-height: 35px;color: #116a9e;"><b>Select Venue&nbsp;</b>:</label>
            </div>
            <div class="col-sm-8 nopadding">
              <p-multiSelect [options]="venuesList" class="" [(ngModel)]="selectedVenues" defaultLabel='All Venues' (onChange)="selectMenuChange()"></p-multiSelect>
            </div>
          </div>

          <div class="col-sm-12 nopadding margin-top-10">
            <div class="panel panel-default" style="background-color: #fff;">
              <div class="panel-body">
                <div class="col-sm-12 nopadding">
                  <div class="col-sm-7 nopadding">
                    <label style="font-size: 20px; line-height: 30px;">
                      <b style="color: #116a9e;">Filters</b>&nbsp;
                      <p>
                        <small style="font-size: 13px;">Choose filters to refine data statistics</small>
                      </p>
                    </label>
                  </div>
                  <div class="col-sm-5 nopadding">
                    <div class="col-sm-12 nopadding">
                      <div class="col-sm-6 margin-top-20">
                        <div class="col-sm-3 nopadding">
                          <label style="line-height: 34px;"><b>Year&nbsp;:</b></label>
                        </div>
                        <div class="col-sm-9 nopadding">
                          <select class="form-control">
                            <option>2012</option>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option selected="selected">2018</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6 margin-top-20">
                        <div class="col-sm-4 nopadding">
                          <label style="line-height: 34px;">Month&nbsp;:</label>
                        </div>
                        <div class="col-sm-8 nopadding">
                          <select class="form-control">
                            <option>Jan</option>
                            <option selected="selected">Feb</option>
                            <option>Mar</option>
                            <option>Apr</option>
                            <option>May</option>
                            <option>Jun</option>
                            <option>Jul</option>
                            <option>Aug</option>
                            <option>Sep</option>
                            <option>Oct</option>
                            <option>Nov</option>
                            <option>Dec</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div id="menua" class="tab-pane fade in active">
              <div class="col-sm-12 nopadding  margin-top-20">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue-madison" style=" box-shadow: 0px 1px 2px 1px #d6d3d3 !important; ">
                      <div class="visual">
                        <img height=50px src="/assets/Dashboard_Assets/1_Booking_icon.png">
                      </div>
                      <div class="details">
                        <div class="number">45</div>
                        <div class="desc">Bookings</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red-intense" style=" box-shadow: 0px 1px 2px 1px #d6d3d3 !important; ">
                      <div class="visual">
                        <img height=50px src="/assets/Dashboard_Assets/2_Enquiry_icon.png">
                      </div>
                      <div class="details">
                        <div class="number">25</div>
                        <div class="desc">Enquiries</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat purple-plum" style=" box-shadow: 0px 1px 2px 1px #d6d3d3 !important; ">
                      <div class="visual">
                        <img height=50px src="/assets/Dashboard_Assets/4_Receivable_icon.png">
                      </div>
                      <div class="details">
                        <div class="number">
                          <i class="fa fa-rupee"></i>&nbsp;1,05,500
                        </div>
                        <div class="desc">Payables</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green-haze" style=" box-shadow: 0px 1px 2px 1px #d6d3d3 !important; ">
                      <div class="visual">
                        <img height=50px src="/assets/Dashboard_Assets/3_Payable_icon.png">
                      </div>
                      <div class="details">
                        <div class="number">
                          <i class="fa fa-rupee"></i>&nbsp;2,16,000
                        </div>
                        <div class="desc">Receivables</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END DASHBOARD STATS -->
                <div class="row">
                  <chart [options]="options" class="col-sm-6" style="margin-top: 15px; height: 400px; margin: 0 auto"></chart>

                  <chart [options]="options_second" class="col-sm-6" style="margin-top: 15px; height: 400px; margin: 0 auto"></chart>

                </div>
                <div class="row">
                  <!-- BEGIN CHART PORTLET-->
                  <chart class="col-md-6" [options]="options_three" class="col-sm-6" style="margin-top: 15px; height: 400px; margin: 0 auto"></chart>
                  <!-- END CHART PORTLET-->
                  <!-- BEGIN CHART PORTLET-->
                  <chart [options]="options_four" class="col-sm-6" style="margin-top: 15px; height: 400px; margin: 0 auto"></chart>
                  <!-- END CHART PORTLET-->
                </div>
              </div>
            </div>
            <div id="menub" class="tab-pane fade">
              <div class="col-sm-12 nopadding  margin-top-20">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue-madison">
                      <div class="visual">
                        <i class="fa fa-comments"></i>
                      </div>
                      <div class="details">
                        <div class="number">45</div>
                        <div class="desc">No.Of Bookings</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red-intense">
                      <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                      </div>
                      <div class="details">
                        <div class="number">25</div>
                        <div class="desc">No.Of Active time slots</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green-haze">
                      <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                      </div>
                      <div class="details">
                        <div class="number">
                          <i class="fa fa-rupee"></i>&nbsp;1,05,500
                        </div>
                        <div class="desc">Amount payable to vendors</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat purple-plum">
                      <div class="visual">
                        <i class="fa fa-eye"></i>
                      </div>
                      <div class="details">
                        <div class="number">
                          <i class="fa fa-rupee"></i>&nbsp;2,16,000
                        </div>
                        <div class="desc">Pending Receivables</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END DASHBOARD STATS -->
                <div class="col-sm-12 nopadding">
                  <div class="col-sm-6" style="margin-top: 15px;">
                    <div id="container" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
                  </div>
                  <div class="col-sm-6" style="margin-top: 15px;">
                    <div id="container1" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
                  </div>
                </div>
                <div class="col-sm-12 nopadding">
                  <div class="col-sm-6" style="margin-top: 15px;">
                    <!-- BEGIN CHART PORTLET-->
                    <div id="container2" style="min-width: 100%; height: 400px; max-width: 600px; margin: 0 auto"></div>
                    <!-- END CHART PORTLET-->
                  </div>
                  <div class="col-sm-6" style="margin-top: 15px;">
                    <!-- BEGIN CHART PORTLET-->
                    <div id="container3" style="min-width: 100%; height: 400px; max-width: 600px; margin: 0 auto"></div>
                    <!-- END CHART PORTLET-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 nopadding margin-top-10">
            <label style="font-size: 20px;color:#10699e">
              <b>Over Due Receivables</b>
            </label>
            <div class="table-responsive kv-grid-container" style="overflow: auto">
              <table class="table table-hover table-bordered margin-top-10" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                  <tr class="table-headers">
                    <th style="width: 7%">
                      <mfDefaultSorter by="num">Booking Id
                      </mfDefaultSorter>
                    </th>
                    <th style="width: 7%">
                      <mfDefaultSorter by="fname">Name
                      </mfDefaultSorter>
                    </th>

                    <th style="width: 7%">
                      <mfDefaultSorter by="phonenum">Phone Number</mfDefaultSorter>
                    </th>
                    <th style="width: 7%">
                      <mfDefaultSorter by="email">Email</mfDefaultSorter>
                    </th>
                    <th style="width: 7%">
                      <mfDefaultSorter by="venue">Venue Name</mfDefaultSorter>
                    </th>

                    <th style="width: 7%">
                      <mfDefaultSorter by="eventdate">Event Date
                      </mfDefaultSorter>
                    </th>
                    <th style="width: 7%">
                      <mfDefaultSorter by="duedate">Due Date</mfDefaultSorter>
                    </th>
                    <th style="width: 7%">
                      <mfDefaultSorter by="totalamount">Total Amount
                      </mfDefaultSorter>
                    </th>
                    <th style="width: 7%">
                      <mfDefaultSorter by="paidamount">Paid Amount
                      </mfDefaultSorter>
                    </th>
                    <th style="width: 7%">
                      <mfDefaultSorter by="due">Due Amount
                      </mfDefaultSorter>
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mf.data">
                    <td>{{item.num}}</td>
                    <td>{{item.fname}}&nbsp;{{item.lname}}</td>

                    <td>{{item.phonenum}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.venue}}</td>


                    <td>{{item.eventdate}}</td>
                    <td>{{item.duedate}}</td>
                    <td>{{item.totalamount}}</td>
                    <td>{{item.paidamount}}</td>
                    <td>{{item.due}}</td>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>