<div class="top-menu">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/manager/dashboard']">
                <img src="/assets/images/VC_Dashboard_White_Logo.png" height=30px style="margin-top:-5px" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <tour-step-template></tour-step-template>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                <li id="menu1" tourAnchor="Dashboard.id" [routerLinkActive]="['active']">
                    <a [routerLink]="['/manager/dashboard']">Dashboard</a>
                </li>
                <li id="menu2" tourAnchor="Calendar.id" [routerLinkActive]="['active']">
                    <a [routerLink]="['/manager/calendar']">Calendar</a>
                </li>
                <li id="menu4" tourAnchor="Customers.id" [routerLinkActive]="['active']">
                    <a [routerLink]="['/manager/customers']">Customers</a>
                </li>
                <li id="menu7" tourAnchor="Vendors.id" [routerLinkActive]="['active']">
                    <a [routerLink]="['/manager/vendors']">Vendors</a>
                </li>
                <li id="menu5" tourAnchor="Manage.id" [routerLinkActive]="['active']">
                    <a [routerLink]="['/manager/manage']">Admin </a>
                </li>
                <li id="menu8" tourAnchor="Gallery.id" [routerLinkActive]="['active']">
                    <a [routerLink]="['/manager/gallery']">Gallery</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="sMenu" tourAnchor="Settings.id" style="margin-right: 10px !important;">
                    <button class="btn btn-default helpbtn" id="btnquick" data-toggle="modal" data-target="#mainmodalpop" style="padding:10px 0">
                        <img src="/assets/Dashboard_Assets/5_Quick_Start_icon.png" width="15px" style="margin: -3px 5px 0px 5px !important;" /> Quick Start&nbsp;
                    </button>
                </li>
                <li class="sMenu" tourAnchor="Support.id" style="margin-right: 10px;">
                    <button class="btn btn-default supportbutton" [routerLink]="['/manager/support/phone']" style="padding:10px 0">
                        <img src="/assets/Dashboard_Assets/6_Support_icon.png" width="15px" style="margin: -3px 5px 0px 5px !important;" />
                        <span> Support&nbsp;
                        </span>
                    </button>
                </li>
                <li class="sMenu" style="margin-right: 10px;">
                    <button class="btn btn-default mhelp helpbtn" (click)="startTour()" id="mhelp" style="padding:10px 0">
                        <img src="/assets/Dashboard_Assets/7_Help_icon.png" width="15px" style="margin: -3px 5px 0px 5px !important;" /> Help&nbsp;
                    </button>
                </li>
                <li class="dropdown dropdown-user" style="width:160px">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="float:right;width: 100%;padding:0">
                        <img style="height:25px" src="/assets/images/Ans-.jpg" class="imgstyle" style="height: 40px;margin: 5px 0 0 10px;border-radius: 50px !important;" />
                        <span class="username username-hide-on-mobile" style="margin-left:10px;position:absolute;margin:15px 0 0 10px;">
                            <b>Hi John</b>
                        </span>
                        <i class="fa fa-angle-down" style="float:right;margin:18px 15px 0 0 !important"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a [routerLink]="['/manager/profile']">
                                <img src="/assets/Dashboard_Assets/8_UserProfile_icon.png" width="20px" style="margin-right:10px;margin-top: -3px;" />My Profile
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#myModal-change-pswd" class="curspointer">
                                <img src="/assets/Dashboard_Assets/10_Password_Change_icon.png" width="20px" style="margin-right:10px;margin-top: -3px;"
                                />Change Password
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']">
                                <img src="/assets/Dashboard_Assets/11_Logout_icon.png" width="20px" style="margin-right:10px;margin-top: -3px;" />Log Out
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
            <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
                <form class="navbar-form navbar-right">
                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="/assets/theme/assets/admin/layout/img/avatar3_small.jpg" />
                            <span class="username username-hide-on-mobile">
                                <b>Roger</b>
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="">
                                    <i class="icon-user"></i>&nbsp;&nbsp;&nbsp;My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a data-toggle="modal" data-target="#myModal-change-pswd" style="cursor: pointer;">
                                    <i class="icon-lock"></i>&nbsp;&nbsp;&nbsp;Change Password
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/login']">
                                    <i class="icon-key"></i>&nbsp;&nbsp;&nbsp;Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </form>
            </div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>


<div id="addVenueModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="mdcontent">
            <div class="fc-title header" style="height:77px;border-bottom: 1px solid #e8e6e6;">
                <span style="    font-size: 20px;
                            font-weight: 600;
                            line-height: 77px;
                            margin-left: 20px;">Add New Venue</span>
                <button id="btnClosebands" type="button" class="btn btn-default Close pull-right" data-dismiss="modal" style="margin-right: 20px;margin-top: 28px;border-radius: 35px !important;">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                    <span class="sr-only">close</span>
                </button>&nbsp;
            </div>
            <div id="modalBody" class="modal-body" style="height:750px">
                <div class="col-sm-12" style="margin-top:50px">
                    <div id="menubooking">
                        <div class="portlet" id="form_wizard_1">
                            <div class="portlet-body form">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                    <ul id="progressbar" class="prbar" style="display:flex; text-align: center;padding:0;">
                                        <li [ngClass]='add_venue_first_tab'>Basic Details</li>
                                        <li [ngClass]='add_venue_second_tab'>Contact Details</li>
                                        <li [ngClass]='add_venue_third_tab'>Photos &amp; Videos</li>
                                        <li [ngClass]='add_venue_fourth_tab'>Summary</li>
                                    </ul>
                                </div>
                                <form id="msform" class="form-horizontal">
                                    <fieldset *ngIf="new_venue_customer_block">

                                        <div class="col-md-2"></div>
                                        <div class="col-md-8" id="field1" style="height:320px;overflow-y:auto; overflow-x:hidden;margin-top:50px">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 add-member-label">
                                                    Venue Name: </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="venue name" value="Nareen Convention" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 add-member-label">
                                                    Capacity: </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="" id="" value="20000" />

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 add-member-label">
                                                    Location: </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" rows="4">Miyapur,Hyderabad</textarea>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 add-member-label"> Time Slots: </label>
                                                <div class="col-md-8" style="margin-top: 8px;">
                                                    <span style="float: left;margin-right: 20px;">
                                                        <input type="radio" class="form-control" (click)="setRadio(false)" name="allday" [checked]='true' id="alldayid" style="float: left;width: auto;height: auto;margin-right: 3px;margin-top:3px;"
                                                        />All Day</span>
                                                    <span style="float: left;">
                                                        <input type="radio" class="form-control" (click)="setRadio(true)" name="allday" id="timeslots" style="float: left;width: auto;height: auto;margin-right: 3px;margin-top:3px;"
                                                        />Time Slots
                                                    </span>
                                                </div>
                                            </div>
                                            <!--Select slots for the venue timings-->
                                            <div *ngIf="timeSlotSel" id="Timingsdiv1" class="">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 add-member-label">
                                                        Select Slots: </label>
                                                    <div class="col-md-8">
                                                        <div id="Picupload">
                                                            <div class="col-md-12 nopadding">
                                                                <div class="col-sm-5 nopadding">
                                                                    <div class='input-group date datetimepicker3' id="FromDiv">
                                                                        <input type='text' class="form-control datetimepicker3" placeholder="From" />
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-time" style="color: #49494e;"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-1 nopadding"></div>
                                                                <div class="col-sm-5 nopadding">
                                                                    <div class='input-group date datetimepicker3' id="ToDiv">
                                                                        <input type='text' class="form-control datetimepicker3" placeholder="To" />
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-time" style="color: #49494e;"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-1 nopadding">
                                                                    <a href="javascript:;" onclick="return AddEmptyRow()" id="btnAddSlots" title="Add more slots">
                                                                        <i style="line-height: 2" class="fa fa-plus pull-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-12" style="border-top:1px solid #dcd9d9;height: 50px;">
                                            <button type="button" (click)="addVenueContinue()" class="next btn btn-success pull-right" style="margin:10px 10px 0 0;border-radius: 4px !important;">
                                                <span title="Click for next screen" aria-hidden="true">&nbsp;
                                                    <i class="fa fa-arrow-right"></i>Continue</span>
                                                <span class="sr-only">Continue</span>
                                            </button>
                                            <a data-target="#cancelmodal" data-dismiss="modal" class="btn btn-default pull-right" style="margin:10px 10px 0 0;margin-right: 11px;border-radius: 4px !important;">
                                                <span title="Click to cancel " aria-hidden="true">&nbsp;
                                                    <i class="fa fa-times"></i>Cancel</span>
                                                <span class="sr-only">Cancel</span>
                                            </a>
                                        </div>
                                    </fieldset>
                                    <fieldset *ngIf="new_venue_event_block">

                                        <div class="col-md-2"></div>
                                        <div class="col-md-8" id="field2" style="height:320px;overflow-y:auto; overflow-x:hidden;padding:0px;margin-top:50px">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-5 add-member-label">
                                                        Contact Person Name: </label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" name="" value="Ravi" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-5 add-member-label">
                                                        Email ID: </label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" name="" value="ravi@cloud.com" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-5 add-member-label">
                                                        Phone Number: </label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" name="" value="9999999999" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-12" style="border-top:1px solid #dcd9d9;height: 50px;">
                                            <button type="button" (click)="addCpContinue()" class="next btn btn-success pull-right" style="margin: 10px 10px 0 0;border-radius: 4px !important;">
                                                <span title="Click for next screen" aria-hidden="true">&nbsp;
                                                    <i class="fa fa-arrow-right"></i>Continue</span>
                                                <span class="sr-only">Continue</span>
                                            </button>
                                            <button type="button" (click)="addCpBack()" class="previous btn btn-default pull-right" style="margin: 10px 10px 0 0;border-radius: 4px !important;">
                                                <span title="Click to go back" aria-hidden="true">&nbsp;
                                                    <i class="fa fa-arrow-left"></i>Previous</span>
                                                <span class="sr-only">Previous</span>
                                            </button>
                                            <a data-target="#cancelmodal" data-dismiss="modal" class="btn btn-default pull-right" style="margin:10px 10px 0 0;margin-right: 11px;border-radius: 4px !important;">
                                                <span title="Click to cancel " aria-hidden="true">&nbsp;
                                                    <i class="fa fa-times"></i>Cancel</span>
                                                <span class="sr-only">Cancel</span>
                                            </a>
                                        </div>
                                    </fieldset>
                                    <fieldset *ngIf="new_venue_payment_block">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8" id="field3" style="height:320px;overflow-y:auto;overflow-x:hidden;padding:0;margin-top:50px">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 add-member-label">
                                                    Services &amp; Facilities: </label>
                                                <div class="col-md-8">
                                                    <div class="col-sm-12 nopadding">
                                                        <input type="checkbox" class="" style="float: left; width: auto; height: auto;margin-right: 4px; margin-top: 3px;" />Wifi
                                                    </div>
                                                    <div class="col-sm-12 nopadding">
                                                        <input type="checkbox" class="" style="float: left; width: auto; height: auto;margin-right: 4px; margin-top: 3px;" />Catering Services
                                                    </div>
                                                    <div class="col-sm-12 nopadding">
                                                        <input type="checkbox" class="" [ngModel]="" (ngModelChange)="addProp($event)" [ngModelOptions]="{standalone: true}" style="float: left; width: auto; height: auto;margin-right: 4px; margin-top: 3px;"
                                                            id="btnOtherservices" />Other
                                                    </div>
                                                    <div *ngIf="otherStatus" class="col-sm-12 margin-top-10" id="addextraservicediv">
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" placeholder="Enter Service Name" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <a href="javascript:;" class="" id="" title="Add more Services" style="margin-left: 40px; line-height: 30px;">
                                                                <i class="fa fa-plus"></i>Add</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 add-member-label">
                                                    Photos: </label>
                                                <div class="col-md-8">
                                                    <input type="file" class="form-control" />

                                                </div>
                                                <div class="col-sm-1"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4 add-member-label">
                                                    Videos: </label>
                                                <div class="col-md-8">
                                                    <input type="file" class="form-control" />

                                                </div>
                                                <div class="col-sm-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-12" style="border-top:1px solid #dcd9d9;height: 50px;">
                                            <button type="button" (click)="addPaymentContinue()" class="next btn btn-success pull-right" style="margin: 10px 10px 0 0;border-radius: 4px !important;">
                                                <span title="Click for venue booking" aria-hidden="true">&nbsp;
                                                    <i class="fa fa-arrow-right"></i>Continue</span>
                                                <span class="sr-only">Continue</span>
                                            </button>
                                            <button type="button" (click)="addPaymentBack()" class="previous btn btn-default pull-right" style="margin: 10px 10px 0 0;border-radius: 4px !important;">
                                                <span title="Click for venue booking" aria-hidden="true">&nbsp;
                                                    <i class="fa fa-arrow-left"></i>Previous</span>
                                                <span class="sr-only">Previous</span>
                                            </button>
                                            <a data-target="#cancelmodal" data-dismiss="modal" class="btn btn-default pull-right" style="margin:10px 10px 0 0;margin-right: 11px;border-radius: 4px !important;">
                                                <span title="Click to cancel " aria-hidden="true">&nbsp;
                                                    <i class="fa fa-times"></i>Cancel</span>
                                                <span class="sr-only">Cancel</span>
                                            </a>
                                        </div>
                                    </fieldset>
                                    <fieldset *ngIf="new_venue_summary_block">
                                        <div id="field4" style="height:320px;overflow-y:auto;overflow-x:hidden;margin-top:50px">
                                            <div class="col-sm-12">
                                                <div class="col-md-12 col-sm-12">
                                                    <h4 class="form-section">
                                                        <b>Basic Details</b>
                                                    </h4>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Venue Name:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="username">
                                                                Nareen Convention</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Capacity:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="email">10,000
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Location:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="email">
                                                                Miyapur, Hyderabad</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Time Slots:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="email">All Day
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <h4 class="form-section">
                                                        <b>Contact Details</b>
                                                    </h4>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Contact Person:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="card_name">
                                                                Ravi</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Email ID:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="card_number">
                                                                ravi@nareen.com</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Phone NUmber:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="card_cvc">
                                                                999-999-9999</p>
                                                        </div>
                                                    </div>
                                                    <h4 class="form-section">
                                                        <b>Photos &amp; Videos:</b>
                                                    </h4>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Services &amp; Facilities:
                                                        </label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static" data-display="fullname">
                                                                <b>Room No 1</b>
                                                                <br />
                                                                <span style="text-align: justify">
                                                                    The meeting room located at the 9th floor of the building has a seating capacity of 25 persons with board room setup. The
                                                                    room is ideal for small gatherings. It also has pre function
                                                                    area in front of it. The meeting room is available from
                                                                    10 a.m to 6 p.m on weekdays and 10 a.m to 5 p.m on Saturday’s
                                                                    &amp; Holidays. Other facilities like lunch, tea, etc
                                                                    may be arranged against separate payment to the vendors
                                                                    enlisted with ICC</span>
                                                                <br />
                                                                <br />
                                                                <b> Room No 2 </b>
                                                                <br />
                                                                <span style="text-align: justify"> The meeting room located at the 9th floor of the building
                                                                    has a seating capacity of 20 persons with board room
                                                                    style seating arrangement. The meeting room is available
                                                                    from 10 a.m to 6 p.m on weekdays and 10 a.m to 5 p.m
                                                                    on Saturday’s &amp; Holidays. Other facilities like lunch,
                                                                    tea, etc may be arranged against separate payment to
                                                                    the vendors enlisted with ICC</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Photos:</label>
                                                        <div class="col-md-4">
                                                            <img src="/assets/images/____9895307_orig.png" height="50" width="50" />
                                                            <img src="/assets/images/____9895307_orig.png" height="50" width="50" />
                                                            <img src="/assets/images/____9895307_orig.png" height="50" width="50" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="border-top:1px solid #dcd9d9;height: 50px;">
                                            <button (click)="clickedBackButton()" type="button" class="submit btn btn-success pull-right" data-dismiss="modal" style="margin: 10px 10px 0 0;border-radius: 4px !important;"
                                                id="btnbookingSubmit">
                                                <span title="Click for submit booking" aria-hidden="true">&nbsp;
                                                    <i class="fa fa-floppy-o"></i>Submit</span>
                                                <span class="sr-only">Submit</span>
                                            </button>
                                            <button type="button" (click)="addSummaryBack()" class="previous btn btn-default pull-right" style="margin: 10px 10px 0 0;border-radius: 4px !important;">
                                                <span title="Click to go back" aria-hidden="true">&nbsp;
                                                    <i class="fa fa-arrow-left"></i>Previous</span>
                                                <span class="sr-only">Previous</span>
                                            </button>
                                            <a data-target="#cancelmodal" data-dismiss="modal" class="btn btn-default pull-right" style="margin:10px 10px 0 0;margin-right: 11px;border-radius: 4px !important;">
                                                <span title="Click to cancel " aria-hidden="true">&nbsp;
                                                    <i class="fa fa-times"></i>Cancel</span>
                                                <span class="sr-only">Cancel</span>
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- main modal popup -->
<div class="modal fade" id="mainmodalpop" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center" style="height: 60px;font-weight: 300;font-size: 35px;text-align:center;">
                    <b>Welcome to Venue Cloud</b>
                </h1>
                <label style="font-size:15px;margin-bottom:3px;margin-left:35%;margin-top: 18px;" class="modal-title">
                    <b>Please help us setup your venue.</b>
                </label>
            </div>
            <div class="modal-body" style="height:475px;background-color:#eee">
                <div class="col-sm-12 nopadding margin-top-10" id="FirstDiv">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 nopadding" style="margin-top:10px;">

                        <div class="col-lg-6 col-md-6 text-center">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/assets/images/____9895307_orig.png" style="height:150px;width:150px;" />
                                    </div>

                                    <div class="card-content">
                                        <p style="font-size:15px;">Click below to add your first venue to get started.</p>
                                    </div>
                                    <div class="card-action">
                                        <a class="btn btn-success" data-dismiss="modal" id="btnCreateVenue" data-toggle="modal" data-target="#addVenueModal" (click)="resetEveryThing()">Setup Venue</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 text-center">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="/assets/images/dT4LEEkTe.png" style="height:150px;width:170px;" />
                                    </div>
                                    <div class="card-content">
                                        <p style="font-size:15px;">Click below for a guided tour of the application.</p>
                                    </div>
                                    <div class="card-action">
                                        <a data-dismiss="modal" (click)="startTour()" class="btn btn-success mhelp">Help Tour</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 nopadding margin-top-10 hide" id="FirstVenueDiv" style="background-color:#eee;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 nopadding" style="height:400px;overflow-y: auto;">
                        <div class="col-md-12">
                            <div class="col-sm-3">
                                <label>Venue Name&nbsp;:</label>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <input type="text" class="form-control" placeholder="Enter Venue name" />
                            </div>
                        </div>

                        <div class="col-md-12 margin-top-10">
                            <div class="col-sm-3 ">
                                <label>Time Slots&nbsp;:</label>
                            </div>
                            <div class="col-md-6 nopadding">
                                <select class="form-control" id="Selectdiv1">
                                    <option value="1">Select</option>
                                    <option value="2">All Day</option>
                                    <option value="3">Slot Timings</option>
                                </select>
                            </div>
                        </div>
                        <div id="Timingsdiv1" class="hide">
                            <div class="col-md-12 margin-top-10">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Select Slots&nbsp;:
                                        <span class="required">
                                            *
                                        </span>
                                    </label>
                                    <div class="col-md-6 nopadding">
                                        <div id="Picupload">
                                            <div class="col-md-12 nopadding">
                                                <div class="col-sm-5 nopadding">
                                                    <div class='input-group date datetimepicker3' id="FromDiv">
                                                        <input type='text' class="form-control datetimepicker3" placeholder="From" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-time" style="color: #49494e;"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1 nopadding"></div>
                                                <div class="col-sm-5 nopadding">
                                                    <div class='input-group date datetimepicker3' id="ToDiv">
                                                        <input type='text' class="form-control datetimepicker3" placeholder="To" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-time" style="color: #49494e;"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1 nopadding">
                                                    <a href="javascript:;" onclick="return AddEmptyRow()" id="btnAddSlots" title="Add more slots">
                                                        <i style="line-height:2" class="fa fa-plus pull-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-sm-3">
                                <label>Venue Phone Number&nbsp;:</label>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <input type='text' class="form-control" placeholder="Venue phone number" />
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-sm-3">
                                <label>Venue Capacity&nbsp;:</label>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <input type='text' class="form-control" placeholder="Venue capacity" />
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-sm-3">
                                <label>Venue Address&nbsp;:</label>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <textarea class="form-control textareas" placeholder="Enter Address" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-sm-3">
                                <label>Contact Person&nbsp;:</label>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <input type='text' class="form-control" placeholder="Contact Person Name" />
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-sm-3">
                                <label>Contact Person Phone&nbsp;:</label>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <input type='text' class="form-control" placeholder="Contact Person Phone" />
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-sm-3">
                                <label>Contact Person Email&nbsp;:</label>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <input type='text' class="form-control" placeholder="Contact Person Email" />
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-6 nopadding">
                                <a class="btn btn-success" data-dismiss="modal">Save</a>
                                <a class="btn btn-default" id="btncancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal-change-pswd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog pswd-pop">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color: #fff!important; opacity: 1;" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <b>Change Password</b>
                </h4>
            </div>
            <div class="modal-body" style="float: left;">
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="col-sm-4 add-mem">
                        <label class="add-member-label">Email</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control add-member-input" value="manager@cloud.com" readonly="readonly" />
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="col-sm-4 add-mem">
                        <label class="add-member-label">Current Password</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" class="form-control add-member-input" placeholder="Current Password.." id="current-password" />
                        <label class="error-msg" id="current-password-error">
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-4 add-mem">
                        <label class="add-member-label">New Password</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" class="form-control add-member-input" placeholder="New Password.." id="new-password" />
                        <label class="error-msg" id="new-password-error">
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-4 add-mem">
                        <label class="add-member-label">Confirm Password</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="password" class="form-control add-member-input" placeholder="Confirm Password.." id="new-confirm-password" />
                        <label class="error-msg" id="confirm-password-error">
                        </label>
                        <label class="error-msg" id="display-password-error">
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer mFooter" style="border-top: none;">
                <div class="col-sm-6 nopadding  pull-right">
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="toastr.success('New password updated successfully');">
                        Save changes
                    </button>
                    <button type="button" class="btn btn-Clear" data-dismiss="modal" onclick="clearChangePasswordFields();">
                        Close
                    </button>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 bg-white" style="background-color: #116a9e; height: 50px;">
    <p style="margin-left: 0px; text-align: center; color: #FFF; margin-top: 20px;">
        {{today | date:'yyyy'}} - Option Matrix Infotech ® All Rights Reserved</p>
    <p></p>
</div>