<div class="page-content-wrapper">
        <div class="page-content clearfix ">
            <!---Page content-->
            <div class="col-sm-12">
                <h2 class="page-title">Profile</h2>
                <!--User Image-->
                <div class="col-sm-3">
                    <img src="/assets/images/Ans-.jpg"
                        style="height: 200px; width: 200px;" /> <br />
                    <br />
                </div>
                <!--Profile data-->
                <div class="col-sm-7">
                    <div class="col-sm-12 margin-top-10">
                        <div class="col-sm-4">
                            <label>First Name&nbsp;:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="John" />
                        </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                        <div class="col-sm-4">
                            <label>Last Name&nbsp;:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="Doe" />
                        </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                        <div class="col-sm-4">
                            <label>Mobile Number&nbsp;:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="9999999999" />
                        </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                        <div class="col-sm-4">
                            <label>Email&nbsp;:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="admin@cloud.com" />
                        </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                        <div class="col-sm-4">
                            <label>Profile Picture&nbsp;:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="file" class="form-control" value="user1.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6">
                            <a class="btn btn-success">Update</a> <a class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    