<div class="page-content-wrapper">
  <div class="page-content clearfix ">
    <div class="row nopadding">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="col-sm-12 nopadding">
          <div class="col-sm-10 nopadding">
            <h3 class="page-title">
              Manage Subscription
              <p>
                <small>Your subscription details can be managed here.</small>
              </p>
            </h3>

          </div>
          <div class="col-sm-2 nopadding" style="margin-top:50px">
            <a [routerLink]="['/manager/manage/venues']" class="btn btn-default pull-right">
              <i class="fa fa-angle-left" style="margin-right:5px;"></i> Back
            </a>
          </div>
        </div>


        <div class="col-sm-12 nopadding margin-top-20">

          <ul class="nav nav-tabs" style="margin:0;">
            <li class="active">
              <a data-toggle="tab" href="#packageTable">Renewals/Upgrades</a>
            </li>
            <li>
              <a data-toggle="tab" href="#paymentLogTable">Payment Log</a>
            </li>
            <li>
              <a data-toggle="tab" href="#termsOfUse">Terms Of use</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="packageTable" class="tab-pane fade in active">
              <div class="col-sm-12 nopadding  margin-top-10">
                <div class="panel panel-default" style="margin-bottom:0;">
                  <div class="panel-body cursor trstyle" style="font-size:16px;background:#fff;" id="btnpaytm">
                    <div class="col-sm-2 nopadding">
                      <label class="col-sm-12">
                        Current Package&nbsp;</label>
                      <p class="col-sm-12">
                        <b>Single Venue</b>
                      </p>

                    </div>
                    <div class="col-sm-2 nopadding">
                      <label class="col-sm-12">
                        Max No.of Venues&nbsp;:&nbsp;
                      </label>
                      <p class="col-sm-12">
                        <b>1</b>
                      </p>
                    </div>
                    <div class="col-sm-2 nopadding">
                      <label class="col-sm-12">
                        Price&nbsp; </label>
                      <p class="col-sm-12">
                        <b>Rs. 7,000 / Month</b>
                      </p>
                    </div>
                    <div class="col-sm-2 nopadding">
                      <label class="col-sm-12">Auto Renewal</label>
                      <a class="col-sm-8" style="text-align:center">
                        <label class="switch" style="border-radius: 30px !important;margin-top:5px;">
                          <input type="checkbox" checked disabled>
                          <span class="slider round"></span>
                        </label>
                      </a>
                    </div>
                    <div class="col-sm-2 nopadding">
                      <label class="col-sm-12">Renews On&nbsp; </label>
                      <p class="col-sm-12">
                        <b>12/5/17</b>
                      </p>

                    </div>
                    <div class="col-sm-2 nopadding">
                      <a class="btn btn-default pull-right">
                        Cancel
                      </a>
                      <a class="btn btn-primary disabled pull-right" style="margin-right:5px;" title="This button allows only one month before the subscription ends">
                        Renew
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="pull-left">Packages</h3>
              <div class="table-responsive kv-grid-container" style="overflow: auto">
              <table class="table table-hover table-bordered" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                  <tr class="table-headers">
                    <th style="width: 20%">
                      <mfDefaultSorter by="num">Package Name</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                      <mfDefaultSorter by="name">Max No.Of Venues</mfDefaultSorter>
                    </th>
                    <th style="width: 15%">
                      <mfDefaultSorter by="price">Price</mfDefaultSorter>
                    </th>

                    <th class="text-center" style="width: 20%">
                      Purchase Package
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mf.data">
                    <td>{{item.name}}</td>
                    <td>{{item.numven}}</td>
                    <td>{{item.price}}</td>
                    <td class="text-center">
                      <a class="btn btn-primary" data-toggle="modal" data-target="#purchasemodal">Upgrade</a>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
              </div>
            </div>
            <div id="paymentLogTable" class="tab-pane fade">
              <div class="col-sm-12 nopadding  margin-top-10"  style="background:#fff;padding:10px;">
                <div class="col-sm-3 nopadding">
                  <div class="col-sm-10 nopadding">
                    <input type="text" class="col-sm-5 form-control" placeholder="search keyword" />
                  </div>
                  <div class="col-sm-2 nopadding">
                    <button class="form-control" style="background-color:#eee">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-6 nopadding">
                  <div class="col-sm-6">
                    <div class="col-sm-3 nopadding" style="margin-top:5px">
                      <label class="control-label">From&nbsp;:</label>
                    </div>
                    <div class="col-sm-9 nopadding">
                      <input class="form-control" type="date" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-sm-3 nopadding"  style="margin-top:5px">
                      <label class="control-label">To&nbsp;:</label>
                    </div>
                    <div class="col-sm-9 nopadding">
                      <input class="form-control" type="date" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 nopadding  margin-top-10">
                  <div class="table-responsive col-sm-12 nopadding kv-grid-container" style="overflow: auto">
                <table class="table table-hover table-bordered" [mfData]="data2" #one="mfDataTable" [mfRowsOnPage]="5">
                  <thead>
                    <tr class="table-headers">
                      <th style="width: 33.33%">
                        <mfDefaultSorter by="paymentId">Transaction Id
                        </mfDefaultSorter>
                      </th>
                      <th style="width: 33.33%">
                        <mfDefaultSorter by="time">Date &amp; Time</mfDefaultSorter>
                      </th>
                      <th style="width: 33.33%">
                        <mfDefaultSorter by="packagename">Package Name</mfDefaultSorter>
                      </th>
                      <th style="width: 33.33%">
                        <mfDefaultSorter by="amount">Amount</mfDefaultSorter>
                      </th>
                      <th style="width: 33.33%">
                        <mfDefaultSorter by="status">Status</mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let items of one.data">
                      <td>{{items.paymentId}}</td>
                      <td>{{items.time}}</td>
                      <td>{{items.packagename}}</td>
                      <td>{{items.amount}}</td>
                      <td>{{items.status}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
            <div id="termsOfUse" class="tab-pane fade">
              <div class='col-sm-12 margin-top-20' style="border: 1px solid #dcdada;background-color:#fff;padding:40px">
                <h4>
                  <b>
                    <u>Terms Of Use</u>
                  </b>
                </h4>
                <p style="text-align:justify">
                  <b>These Wix.com Terms of Use (“Terms of Use”), together with our Privacy Policy available at http://www.wix.com/about/privacy
                    (“Privacy Policy”), and such additional terms which specifically apply to some of our services and features
                    as presented on the Wix.com website(s) (“Wix Website”, and collectively – the “Wix Terms”), all set forth
                    the entire terms and conditions applicable to each visitor or user (“User” our “you”) of the Wix Website,
                    the Wix mobile application (the “Wix App”) and/or any other services, applications and features offered
                    by us with respect thereto, except where we explicitly state otherwise (all services offered through
                    the Wix Website or the Wix App, collectively – the “Wix Services” or “Services”). The Wix Terms constitute
                    a binding and enforceable legal contract between Wix.com Ltd. and its affiliated companies and subsidiaries
                    worldwide (“Wix”, “us” or “we”) and you in relation to the use of any Wix Services - so please read them
                    carefully
                  </b>
                </p>
                <input type="checkbox" checked disable/>&nbsp;&nbsp;
                <b>I Agree</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="modal fade" id="purchasemodal" role="dialog">
  <div class="modal-dialog modal-md" style="width:1000px">
    <div class="modal-content" style="padding:20px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <b>Upgrade Subscription Package</b>
        </h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 nopadding margin-top-20" id="div2">
          <!---Page Starts-->
          <div class="col-sm-5 margin-top-10" style="padding: 10px;">
            <h4 class="subheading">
              <b>Subscription Details</b>
            </h4>
            <div class="col-sm-12  margin-top-10">
              <div class="col-sm-5">
                <label>
                  <b>Package Name&nbsp;:</b>
                </label>
              </div>
              <div class="col-sm-7">
                <label>Dual Venue</label>
              </div>
            </div>
            <div class="col-sm-12  margin-top-10">
              <div class="col-sm-5">
                <label>
                  <b>Max No.Of Venues&nbsp;:</b>
                </label>
              </div>
              <div class="col-sm-7">
                <label>2</label>
              </div>
            </div>

            <div class="col-sm-12  margin-top-10">
              <div class="col-sm-5">
                <label>
                  <b>Price per Month&nbsp;:</b>
                </label>
              </div>
              <div class="col-sm-7">
                <label>8,000</label>
              </div>
            </div>
            <div class="col-sm-12  margin-top-10">
              <div class="col-sm-5">
                <label>
                  <b>Total Amount&nbsp;:</b>
                </label>
              </div>
              <div class="col-sm-7">
                <label>16000</label>
              </div>
            </div>
          </div>
          <!--Payment screens for other details -->
          <div class="col-sm-1 margin-top-10"></div>
          <div class="col-sm-6 margin-top-10" style="padding: 10px;">
            <div class="col-sm-12">
              <img src="/assets/images/Paytm_logo.png" style="height:50px;">
            </div>
            <div class="col-sm-12 margin-top-10">
              <div class="col-sm-5">
                <label style="line-height:29px;">
                  <b>Mobile Number&nbsp;:</b>
                </label>
              </div>
              <div class="col-sm-7">
                <input type="text" class="form-control" placeholder="Enter mobile number">
              </div>
            </div>
          </div>
          <!--Button for payment screen-->
          <div class="col-sm-12 margin-top-10">
            <a class="btn btn-primary pull-right">Proceed to Pay&nbsp;
              <i class="fa fa-caret-right pull-right" style="line-height:21px;"></i>
            </a>
          </div>
        </div>

      </div>
      <div class="modal-footer mFooter padding20px">

      </div>
    </div>
  </div>
</div>