<div class="page-content-wrapper">
    <div class="page-content clearfix ">


        <div class="col-sm-12 nopadding">
            <div class="col-sm-1"></div>
            <div class="col-sm-8 nopadding">
                <h3 class="page-title">
                    Subscriptions
                    <p>
                        <small>Subscription packages for the cloud retail application can be configured here.</small>
                    </p>
                </h3>
            </div>

        </div>

        <div class="row nopadding margin-top-20">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 nopadding">
                <div class="col-lg-3 col-md-6 nopadding text-center">
                    <div class="col-sm-12">
                        <div style="background-color: #337ab7;height: 10px;"></div>
                        <div style="border:ridge;height:300px;">
                            <div class="col-sm-12 headband">
                                <h3>Basic</h3>
                            </div>
                            <div class="col-sm-12">
                                <h3>
                                    <i class="fa fa-rupee"></i>&nbsp;
                                    <b>2500</b>
                                </h3>
                            </div>
                            <div class="col-sm-12" style="margin-top:3px;">
                                <p>Complete venue management for 1 Venue</p>
                                <p>Add only 1 Venue</p>
                                <p>Add up to 5 staff users</p>
                            </div>
                            <div class="col-sm-12" style="margin-top:9%;">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#editpackage">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 nopadding text-center">
                    <div class="col-sm-12">
                        <div style="background-color: #337ab7;height: 10px;"></div>
                        <div style="border:ridge;height:300px;">
                            <div class="col-sm-12 headband">
                                <h3>Venue Multiplier</h3>
                            </div>
                            <div class="col-sm-12">
                                <h3>
                                    <i class="fa fa-rupee"></i>&nbsp;
                                    <b>5000</b>
                                </h3>
                            </div>
                            <div class="col-sm-12" style="margin-top:3px;">
                                <p>Complete venue management for 1 Venue</p>
                                <p>Add up to 10 Venues</p>
                                <p>Add up to 50 staff users</p>
                            </div>
                            <div class="col-sm-12" style="margin-top:9%;">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#editpackage">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 nopadding text-center">
                    <div class="col-sm-12">
                        <div style="background-color: #337ab7;height: 10px;"></div>
                        <div style="border:ridge;height:300px;">
                            <div class="col-sm-12 headband">
                                <h3>Custom</h3>
                            </div>
                            <div class="col-sm-12">
                                <h3>
                                    <i class="fa fa-rupee"></i>&nbsp;
                                    <b>1500</b>
                                </h3>
                            </div>
                            <div class="col-sm-12" style="margin-top:3px;">
                                <p>Complete venue management for 1 Venue</p>
                                <p>1000 for 5 users</p>
                                <p>1000 for 1 venue</p>
                                <p></p>
                            </div>
                            <div class="col-sm-12" style="margin-top:9%;">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#editpackage">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 nopadding text-center">
                    <div class="col-sm-12">
                        <div style="background-color: #337ab7;height: 10px;"></div>
                        <div style="border:ridge;height:300px;">
                            <div class="col-sm-12 headband">
                                <h3>Add Package</h3>
                            </div>
                            <div class="col-sm-12" style="margin-top:50%;">
                                <a data-toggle="modal" data-target="#addpackage">
                                    <i class="fa fa-plus fa-4x" style="background-color: #116a9e;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addpackage" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <b>Add Package</b>
                        </h4>
                    </div>
                    <div class="modal-body" style="background-color:red;">

                        <div class="col-sm-12 margin-top-10">
                            <div class="col-sm-4">
                                <label class="add-member-label">Package Name&nbsp;:</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="col-sm-7 form-control" />
                            </div>
                        </div>
                        <div class="col-sm-12 margin-top-10">
                            <div class="col-sm-4">
                                <label class="add-member-label">Min No. of Venues</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="col-sm-7 form-control" />
                            </div>
                        </div>

                        <div class="col-sm-12 margin-top-10">
                            <div class="col-sm-4">
                                <label class="add-member-label">Max No. of Venues</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="col-sm-7 form-control" />
                            </div>
                        </div>
                        <div class="col-sm-12 margin-top-10">
                            <div class="col-sm-4">
                                <label class="add-member-label">Per Capita Billing &nbsp;:</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" />
                            </div>
                        </div>


                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-top: 10px;">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 10px;">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="editpackage" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <b>Update Package</b>
                        </h4>
                    </div>
                    <div class="modal-body" style="background-color:red;">
                        <div class="col-sm-12 margin-top-10">
                            <div class="col-sm-4">
                                <label class="add-member-label">Package Name&nbsp;:</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="col-sm-7 form-control" value="Basic" />
                            </div>
                        </div>
                        <div class="col-sm-12 margin-top-10">
                                <div class="col-sm-4">
                                    <label class="add-member-label">Min No. Of Venues&nbsp;:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="col-sm-7 form-control" value="Basic" />
                                </div>
                            </div>
                        
                        <div id="venuediv" class="">
                            <div class="col-sm-12 margin-top-10">
                                <div class="col-sm-4">
                                    <label class="add-member-label">Max No.of Venues&nbsp;:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="col-sm-7 form-control" value="5" />
                                </div>
                            </div>
                        </div>
                        <div id="userdiv" class="">
                            <div class="col-sm-12 margin-top-10">
                                <div class="col-sm-4">
                                    <label class="add-member-label">Per Capita Billing  :&nbsp;:</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="col-sm-7 form-control" />
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="toastr.success('Package updated successfully');" style="margin-top: 10px;">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 10px;">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>