<div class="page-content-wrapper">
	<div class="page-content clearfix ">
		<app-manager-customers></app-manager-customers>
		<div class="col-sm-12 nopadding">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 nopadding">
				<div class="col-sm-12 nopadding">
					<div class="col-sm-3 nopadding">
						<div class="col-sm-10 nopadding">
							<input type="text" class="col-sm-5 form-control" placeholder="search keyword" />
						</div>
						<div class="col-sm-2 nopadding">
							<button class="form-control" style="background-color:#eee">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>

					<div class="col-sm-9 nopadding">
						<a class="btn btn-success pull-right" data-toggle="modal" data-target="#AddCustomerModal" title="Click to add new customer">
							<i class="fa fa-plus"></i>&nbsp;Add Customer</a>
					</div>
				</div>
				<!--Table forCustomers-->
				<div class="col-sm-12 nopadding margin-top-20">
					<table class="table table-hover table-bordered" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
						<thead>
							<tr class="table-headers">
								<th style="width: 30%">
									<mfDefaultSorter by="fname"> Name</mfDefaultSorter>
								</th>

								<th style="width: 30%">
									<mfDefaultSorter by="email">Email</mfDefaultSorter>
								</th>
								<th style="width: 15%">
									<mfDefaultSorter by="phone">Phone Number</mfDefaultSorter>
								</th>
								<th class="text-center" style="width: 15%">
									<mfDefaultSorter by="bookings">Bookings</mfDefaultSorter>
								</th>
								<th class="text-center" style="width: 15%">
									<mfDefaultSorter by="enquiries">Enquiries</mfDefaultSorter>
								</th>
								<th class="text-center" style="width: 15%">
									<mfDefaultSorter>Appointments</mfDefaultSorter>
								</th>
								<th class="text-center" style="width: 15%">
									<mfDefaultSorter by="appointments">Delete</mfDefaultSorter>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of mf.data">
								<td title="click to edit customer details">
									<a data-toggle="modal" data-target="#EditCustomerModal" style="color:#000">
										{{item.fname}} &nbsp;{{item.lname}}</a>
								</td>
								<td title="click to edit customer details">
									<a data-toggle="modal" data-target="#EditCustomerModal" style="color:#000">{{item.email}}</a>
								</td>
								<td title="click to edit customer details">
									<a data-toggle="modal" data-target="#EditCustomerModal" style="color:#000">{{item.phone}}</a>
								</td>
								<td title="click to view booking details" class="text-center">
									<a data-toggle="modal" data-target="#ModalMultipleBookingsView" style="color:#000">{{item.bookings}}</a>
								</td>
								<td title="click to view enquiry details" class="text-center">
									<a data-toggle="modal" data-target="#ModalMultipleEnquiryView" style="color:#000">{{item.enquiries}}</a>
								</td>
								<td title="click to view appointment details" class="text-center">
									<a data-toggle="modal" data-target="#ModalMultipleAppointmentView" style="color:#000">{{item.appointments}}</a>
								</td>
								<td class="text-center">
									<a title="Click to delete">
										<i class="fa fa-trash red"></i>
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="8">
									<mfBootstrapPaginator></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>


		<!---Multiple bookings view modal popup-->
		<div class="modal fade" id="ModalMultipleBookingsView" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Booking Details</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="col-sm-12 margin-top-10">
							<table class="table table-responsive table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Event</th>
										<th>Venue</th>
										<th>Date</th>
										<th>Time</th>
										<th>Status</th>
										<th>View</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>B001</td>
										<td>Wedding</td>
										<td>Nareen Gardens</td>
										<td>18/08/17</td>
										<td>09.00AM - 05.00PM</td>
										<td>Completed</td>
										<td>
											<a data-dismiss="modal" (click)="handleEventClick(1)">
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
										</td>
									</tr>
									<tr>
										<td>B0002</td>
										<td>Birthday</td>
										<td>RK Gardens</td>
										<td>10/09/17</td>
										<td>09.00AM - 12.00PM</td>
										<td>In Complete</td>
										<td>
											<a data-dismiss="modal" (click)="handleEventClick(1)">
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!--Multiple enquiry modal popup-->
		<div class="modal fade" id="ModalMultipleEnquiryView" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Enquiry Details</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="col-sm-12 margin-top-10">
							<table class="table table-responsive table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Event</th>
										<th>Venue</th>
										<th>Date</th>
										<th>Time</th>
										<th>Details</th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<td>B001</td>
										<td>Wedding</td>
										<td>Nareen Gardens</td>
										<td>18/08/17</td>
										<td>09.00AM - 05.00PM</td>
										<td>
											<a data-dismiss="modal" (click)="handleEventClick(2)">
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
										</td>
									</tr>
									<tr>
										<td>B0002</td>
										<td>Birthday</td>
										<td>RK Gardens</td>
										<td>10/09/17</td>
										<td>09.00AM - 12.00PM</td>
										<td>
											<a data-dismiss="modal" (click)="handleEventClick(2)">
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!--Multiple modal appointment bookings-->
		<div class="modal fade" id="ModalMultipleAppointmentView" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Appointment Details</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="col-sm-12 margin-top-10">
							<table class="table table-responsive table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Event</th>
										<th>Venue</th>
										<th>Date</th>
										<th>Time</th>
										<th>View</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>B001</td>
										<td>Wedding</td>
										<td>Nareen Gardens</td>
										<td>18/08/17</td>
										<td>09.00AM - 05.00PM</td>
										<td>
											<a data-dismiss="modal" (click)="handleEventClick(3)">
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
										</td>
									</tr>
									<tr>
										<td>B0002</td>
										<td>Birthday</td>
										<td>RK Gardens</td>
										<td>10/09/17</td>
										<td>09.00AM - 12.00PM</td>
										<td>
											<a data-dismiss="modal" (click)="handleEventClick(3)">
												<span class="glyphicon glyphicon-eye-open"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!---Add Customer modal popup-->
		<div class="modal fade" id="AddCustomerModal" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Add Customer</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">First Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Last Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
									</div>
								</div>
							</div>

							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Email&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Phone&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-book"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label"> Address&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<textarea class="form-control" rows="4"></textarea>
								</div>
							</div>

						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-success" data-dismiss="modal" onclick="toastr.success('Customer added successfully');">Save</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!---Edit Customer modal popup-->
		<div class="modal fade" id="EditCustomerModal" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Update Customer</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">First Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" value="Nagarjuna" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Last Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" value="Reddy" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Email&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" value="nagarjuna@gmail.com" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Phone Number&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" value="9866729433" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-book"></i>
										</span>
									</div>
								</div>

							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label"> Address&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<textarea class="form-control" rows="4"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-success" data-dismiss="modal" onclick="toastr.success('Customer updated successfully');">Update</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-backdrop fade in" [style.display]="showBookingsModal ? 'block' : 'none'"></div>
		<div id="bookings_popup" class="modal fade in" role="dialog" style="display: block" [style.display]="showBookingsModal ? 'block' : 'none'">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" (click)="closeAllPopups()">&times;</button>
						<h4 class="modal-title">
							Narenn Garden - Mahesh Wedding
						</h4>
					</div>
					<div class="modal-body" style="padding:0 15px ;height: 450px;overflow-y: scroll;">
						<div>
							<div class="col-md-12 col-sm-12">
								<div class="portlet  blue-hoki box">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-building-o"></i>Event Details
										</div>
									</div>
									<div class="portlet-body">
										<div class="row static-info">
											<div class="col-md-5 name">
												Venue Name&nbsp;:
											</div>
											<div class="col-md-7 value">
												Nareen Gardens
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Event&nbsp;:
											</div>
											<div class="col-md-7 value">
												Wedding
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Start Date&nbsp;:
											</div>
											<div class="col-md-7 value">
												10/09/17
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												End Date&nbsp;:
											</div>
											<div class="col-md-7 value">
												11/09/17
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Time Slot&nbsp;:
											</div>
											<div class="col-md-7 value">
												<label>
													<b>All Day</b>
												</label>
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Food Menu&nbsp;:
											</div>
											<div class="col-md-7 value">
												<img src="/assets/images/foodmenu.jpg" style="height:100px;width:85px;" />
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Decoration Type&nbsp;:
											</div>
											<div class="col-md-7 value">
												<img src="/assets/images/decoration.jpg" style="height:100px;width:150px;" />
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Additional Information&nbsp;:
											</div>
											<div class="col-md-7 value">
												Will provide Decoration crew and food suppliers
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-12 col-sm-12">
								<div class="portlet  blue-hoki box">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-rupee"></i>Payment Details
										</div>
									</div>
									<div class="portlet-body">
										<div class="panel-group accordion" id="accordion1">
											<div class="panel panel-default">
												<div id="collapse_1" class="panel-collapse in">
													<div class="panel-body">
														<div class="col-sm-12 nopadding">
															<table class="table table-hover table-bordered">
																<thead>
																	<tr>
																		<th>Total Amount</th>
																		<th>Paid</th>
																		<th>Due</th>
																		<th>Pay Date</th>
																		<th>Payment Mode</th>
																		<th>Other Details</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>50,000</td>
																		<td>30,000</td>
																		<td>20,000</td>
																		<td>12/12/17</td>
																		<td>Cash</td>
																		<td class="text-center">-</td>
																	</tr>
																	<tr>
																		<td>1,00,000</td>
																		<td>70,000</td>
																		<td>30,000</td>
																		<td>14/12/17</td>
																		<td>Cash</td>
																		<td class="text-center">-</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="portlet  blue-hoki box">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-user"></i>Customer Details
										</div>
									</div>
									<div class="portlet-body" style="height:188px;">
										<div class="row static-info">
											<div class="col-md-5 name">
												Contact Name&nbsp;:
											</div>
											<div class="col-md-7 value">
												Ravi Marikala
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Email ID&nbsp;:
											</div>
											<div class="col-md-7 value">
												ravi@nareen.com
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Phone Number&nbsp;:
											</div>
											<div class="col-md-7 value" style="margin-top:20px;">
												999-999-9999
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Address&nbsp;:
											</div>
											<div class="col-md-7 value">
												Miyapur,
												<br />Hyderabad
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
					<div class="modal-footer mFooter">
						<button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeAllPopups()">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!--Enquiry POPUP-->
		<div class="modal-backdrop fade in" [style.display]="showEnquiryModal ? 'block' : 'none'"></div>
		<div id="enquiry_popup" class="modal fade in" role="dialog" style="display: block" [style.display]="showEnquiryModal ? 'block' : 'none'">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" (click)="closeAllPopups()">&times;</button>
						<h4 class="modal-title">
							Enquiry
						</h4>
					</div>
					<div class="modal-body" style="padding:0 15px;height: 450px;overflow-y: scroll;">
						<div>
							<div class="col-md-12 col-sm-12">
								<div class="portlet  blue-hoki box">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-user"></i>Customer Information
										</div>

									</div>
									<div class="portlet-body" style="height:188px;">
										<div class="row static-info">
											<div class="col-md-5 name">
												Contact Name&nbsp;:
											</div>
											<div class="col-md-7 value">
												Ravi Marikala
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Email ID&nbsp;:
											</div>
											<div class="col-md-7 value">
												ravi@nareen.com
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Phone Number&nbsp;:
											</div>
											<div class="col-md-7 value" style="margin-top:20px;">
												999-999-9999
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Address&nbsp;:
											</div>
											<div class="col-md-7 value">
												Miyapur,
												<br />Hyderabad
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-12 col-sm-12">
								<div class="portlet  blue-hoki box">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-user"></i>venue Information
										</div>

									</div>
									<div class="portlet-body" style="height:188px;">
										<div class="row static-info">
											<div class="col-md-5 name">
												Venue Name&nbsp;:
											</div>
											<div class="col-md-7 value">
												Naren Gardens
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Date &amp; Time &nbsp;:
											</div>
											<div class="col-md-7 value">
												08-Dec-2017 01:00 am
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Quoted Amount&nbsp;:
											</div>
											<div class="col-md-7 value" style="margin-top:20px;">
												27,000
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Additional Information &nbsp;:
											</div>
											<div class="col-md-7 value">
												Check with customer
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer mFooter">
						<button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeAllPopups()">Close</button>
					</div>
				</div>
			</div>
		</div>


		<!--Appointment POPUP-->
		<div class="modal-backdrop fade in" [style.display]="showAppointmentModal ? 'block' : 'none'"></div>
		<div id="appointment_popup" class="modal fade in" role="dialog" style="display: block" [style.display]="showAppointmentModal ? 'block' : 'none'">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" (click)="closeAllPopups()">&times;</button>
						<h4 class="modal-title">
							Meeting
						</h4>
					</div>
					<div class="modal-body" style="padding:0 15px">
						<div>
							<div class="col-md-12 col-sm-12">
								<div class="portlet  blue-hoki box">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-user"></i>Appointment Details
										</div>
									</div>
									<div class="portlet-body" style="height:350px;">
										<div class="row static-info">
											<div class="col-md-5 name">
												Meeting with:&nbsp;:
											</div>
											<div class="col-md-7 value">
												flower vendor
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Date &amp; Time:
											</div>
											<div class="col-md-7 value">
												27-Dec-2017 05:06 am
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Contact Name &nbsp;:
											</div>
											<div class="col-md-7 value">
												Pavan Gill
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Email Id &nbsp;:
											</div>
											<div class="col-md-7 value">
												fv@outlook.com
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Phone Number&nbsp;:
											</div>
											<div class="col-md-7 value">
												999-999-9999
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Subject &nbsp;:
											</div>
											<div class="col-md-7 value">
												test subject
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Location&nbsp;:
											</div>
											<div class="col-md-7 value">
												Miyapur,
												<br />Hyderabad
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name">
												Notes&nbsp;:
											</div>
											<div class="col-md-7 value">
												This is important.
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
					<div class="modal-footer mFooter">
						<button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeAllPopups()">Close</button>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>