	
<div class="page-content-wrapper">
	<div class="page-content clearfix ">
		<app-manager-customers></app-manager-customers>
		<div class="col-sm-12 nopadding">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 nopadding">
				<div class="col-sm-12 nopadding">
					<a class="btn btn-success pull-right" data-toggle="modal"
						data-target="#AddCustomerModal" title="Click to add new customer"><i
						class="fa fa-plus"></i>&nbsp;Add Customer</a>
				</div>
				<!--Table forCustomers-->
				<div class="col-sm-12 nopadding margin-top-20">
						<table class="table table-hover table-bordered" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
								<thead>
								<tr class="table-headers">
									<th style="width: 10%">
										<mfDefaultSorter by="num">Customer ID</mfDefaultSorter>
									</th>
									<th style="width: 30%">
										<mfDefaultSorter by="name">Name</mfDefaultSorter>
									</th>
									<th style="width: 30%">
										<mfDefaultSorter by="email">Email</mfDefaultSorter>
									</th>
									<th style="width: 15%">
										<mfDefaultSorter by="phone">Phone Number</mfDefaultSorter>
									</th>
									<th class="text-center" style="width: 15%">
											<mfDefaultSorter>Actions</mfDefaultSorter>
									</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let item of mf.data">
									<td>{{item.num}}</td>
									<td>{{item.name}}</td>
									<td>{{item.email}}</td>
									<td >{{item.phone}}</td>
									<td class="text-center"><a title="Click to edit details"
										data-toggle="modal" data-target="#EditCustomerModal"><i
											class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
										title="Click to delete"><i class="fa fa-trash red"></i></a></td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<td colspan="5">
										<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
									</td>
								</tr>
								</tfoot>
							</table>

				</div>
			</div>
		</div>

		<!---Add Customer modal popup-->
		<div class="modal fade" id="AddCustomerModal" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Add Customer</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label>Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<input type="text" class="form-control" />
								</div>
							</div>

							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label>Email&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label>Phone&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label> Address&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<textarea class="form-control" rows="4"></textarea>
								</div>
							</div>

						</div>
					</div>
					<div class="modal-footer padding20px">
						<button type="button" class="btn btn-success" data-dismiss="modal"
							onclick="toastr.success('Customer added successfully');">Save</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!---Edit Customer modal popup-->
		<div class="modal fade" id="EditCustomerModal" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Update Customer</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label>Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<input type="text" class="form-control" value="Nagarjuna" />
								</div>
							</div>

							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label>Email&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<input type="text" class="form-control"
										value="nagarjuna@gmail.com" />
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label>Phone Number&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<input type="text" class="form-control" value="9866729433" />
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label> Address&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<textarea class="form-control" rows="4"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer padding20px">
						<button type="button" class="btn btn-success" data-dismiss="modal"
							onclick="toastr.success('Customer updated successfully');">Update</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
