<div class="page-content-wrapper">
	<div class="page-content clearfix ">
		<app-manager-customers></app-manager-customers>
		<div class="col-sm-12 nopadding">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 nopadding">
				<div class="col-sm-12 nopadding">
					<a class="btn btn-success pull-right" data-toggle="modal" data-target="#AddCustomerModal" title="Click to add new customer">
						<i class="fa fa-plus"></i>&nbsp;Add Customer</a>
				</div>
				<!--Table forCustomers-->
				<div class="col-sm-12 nopadding margin-top-20">
					<table class="table table-hover table-bordered" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
						<thead>
							<tr class="table-headers">
								<th style="width: 30%">
									<mfDefaultSorter by="fname">First Name</mfDefaultSorter>
								</th>
								<th style="width: 30%">
									<mfDefaultSorter by="lname">Last Name</mfDefaultSorter>
								</th>
								<th style="width: 30%">
									<mfDefaultSorter by="email">Email</mfDefaultSorter>
								</th>
								<th style="width: 15%">
									<mfDefaultSorter by="phone">Phone Number</mfDefaultSorter>
								</th>
								<th class="text-center" style="width: 15%">
									<mfDefaultSorter>Appointments</mfDefaultSorter>
								</th>
								<th class="text-center" style="width: 15%">
									<mfDefaultSorter by="bookings">Bookings</mfDefaultSorter>
								</th>
								<th class="text-center" style="width: 15%">
									<mfDefaultSorter by="enquiries">Enquiries</mfDefaultSorter>
								</th>
								<th class="text-center" style="width: 15%">
									<mfDefaultSorter by="appointments">Actions</mfDefaultSorter>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of mf.data">
								<td>
									<a data-toggle="modal" data-target="#EditCustomerModal" style="color:#000">
										{{item.fname}}</a>
								</td>
								<td>
									<a data-toggle="modal" data-target="#EditCustomerModal" style="color:#000">{{item.lname}}</a>
								</td>
								<td>
									<a data-toggle="modal" data-target="#EditCustomerModal" style="color:#000">{{item.email}}</a>
								</td>
								<td>
									<a data-toggle="modal" data-target="#EditCustomerModal" style="color:#000">{{item.phone}}</a>
								</td>
								<td class="text-center">
									<a data-toggle="modal" data-target="#ModalMultipleBookingsView" style="color:#000">{{item.bookings}}</a>
								</td>
								<td class="text-center">
									<a data-toggle="modal" data-target="#ModalMultipleEnquiryView" style="color:#000">{{item.enquiries}}</a>
								</td>
								<td class="text-center">
									<a data-toggle="modal" data-target="#ModalMultipleAppointmentView" style="color:#000">{{item.appointments}}</a>
								</td>
								<td class="text-center">
									<a title="Click to delete">
										<i class="fa fa-trash red"></i>
									</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="8">
									<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
								</td>
							</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>


		<!---Multiple bookings view modal popup-->
		<div class="modal fade" id="ModalMultipleBookingsView" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Booking Details</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="col-sm-12 margin-top-10">
							<table class="table table-responsive table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Event</th>
										<th>Venue</th>
										<th>Date</th>
										<th>Time</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>B001</td>
										<td>Wedding</td>
										<td>Nareen Gardens</td>
										<td>18/08/17</td>
										<td>09.00AM - 05.00PM</td>
										<td>Completed</td>
									</tr>
									<tr>
										<td>B0002</td>
										<td>Birthday</td>
										<td>RK Gardens</td>
										<td>10/09/17</td>
										<td>09.00AM - 12.00PM</td>
										<td>In Complete</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!--Multiple enquiry modal popup-->
		<div class="modal fade" id="ModalMultipleEnquiryView" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Enquiry Details</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="col-sm-12 margin-top-10">
							<table class="table table-responsive table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Event</th>
										<th>Venue</th>
										<th>Date</th>
										<th>Time</th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<td>B001</td>
										<td>Wedding</td>
										<td>Nareen Gardens</td>
										<td>18/08/17</td>
										<td>09.00AM - 05.00PM</td>
									</tr>
									<tr>
										<td>B0002</td>
										<td>Birthday</td>
										<td>RK Gardens</td>
										<td>10/09/17</td>
										<td>09.00AM - 12.00PM</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!--Multiple modal appointment bookings-->
		<div class="modal fade" id="ModalMultipleAppointmentView" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Appointment Details</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="col-sm-12 margin-top-10">
							<table class="table table-responsive table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Event</th>
										<th>Venue</th>
										<th>Date</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>B001</td>
										<td>Wedding</td>
										<td>Nareen Gardens</td>
										<td>18/08/17</td>
										<td>09.00AM - 05.00PM</td>
									</tr>
									<tr>
										<td>B0002</td>
										<td>Birthday</td>
										<td>RK Gardens</td>
										<td>10/09/17</td>
										<td>09.00AM - 12.00PM</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!---Add Customer modal popup-->
		<div class="modal fade" id="AddCustomerModal" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Add Customer</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">First Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Last Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
									</div>
								</div>
							</div>

							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Email&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Phone&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-book"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label"> Address&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<textarea class="form-control" rows="4"></textarea>
								</div>
							</div>

						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-success" data-dismiss="modal" onclick="toastr.success('Customer added successfully');">Save</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!---Edit Customer modal popup-->
		<div class="modal fade" id="EditCustomerModal" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Update Customer</b>
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">First Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" value="Nagarjuna" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Last Name&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" value="Reddy" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Email&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" value="nagarjuna@gmail.com" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label">Phone Number&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="text" class="form-control" value="9866729433" />
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-book"></i>
										</span>
									</div>
								</div>

							</div>
							<div class="col-sm-12 margin-top-10">
								<div class="col-sm-4">
									<label class="control-label add-member-label"> Address&nbsp;: </label>
								</div>
								<div class="col-sm-8">
									<textarea class="form-control" rows="4"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer mFooter padding20px">
						<button type="button" class="btn btn-success" data-dismiss="modal" onclick="toastr.success('Customer updated successfully');">Update</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>