<div class="page-content-wrapper">
    <div class="page-content clearfix ">
        <!-- Page content starts here -->
        <div class="col-sm-12 margin-top-20">
            <div class="col-sm-12 nopadding">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h2 class="page-title">Permissions</h2>
                </div>
                <div class="col-sm-1">
                    <a class="btn btn-default pull-right" [routerLink]="['/manager/manage/venues']">
                        <i class="fa fa-arrow-left"></i>&nbsp;Back
                    </a>
                </div>
            </div>
            <!-- All permissions table -->
            <div class="col-sm-12 nopadding margin-top-20">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
                    <table class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th style="width: 10%;text-align:center;">Select</th>
                                <th>Permission</th>
                            </tr>
                        </thead>
                        <!---List of permissions-->
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" class="form-control" style="height:auto;" />
                                </td>
                                <td>
                                    <b>View Dashboard</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>
                                    <b>Calendar</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add New Booking</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Bookings</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Bookings</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Enquiry</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Enquiry</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Enquiry</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Appointment</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Appointment</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Appointment</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Drag and drop events</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Mark as holiday</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>
                                    <b>View Customers</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Customer</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Customer</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Customer</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>View Activity</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>View Receivables</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Customer Payments</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Customer Payments</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>View Paymentlog</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>
                                    <b>View Vendors</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Vendor</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Vendor</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Vendor</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>View Vendor Type</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Vendor Type</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Vendor Type</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>View Payables</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Vendors Payments</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Vendors Payments</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>View Paid</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>
                                    <b>View Manage</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Venue</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Venue</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Venue</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add New Sevrice</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Sevrice</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Sevrice</td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add Staff Users</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update Staff Users</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete Staff Users</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Set Permissions</td>
                            </tr>


                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Add New item in Food & Decoration</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Update item in Food & Decoration</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Delete item in Food & Decoration</td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>Set Permissions</td>
                            </tr>



                            <tr>
                                <td>
                                    <input type="checkbox" style="height:auto;" class="form-control" />
                                </td>
                                <td>
                                    <b>View Gallery</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 nopadding">
                        <a class="btn btn-success" id="btnsubmit">Update</a>
                        <a class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>